@-moz-document domain("habr.com") {
html, body, .tm-layout__wrapper,
.tm-navigation-search__input .tm-input-text-decorated__input,
.tm-comment-form__editor .editor,
.article-formatted-body pre,
.layout,
.tm-editor__textarea,
.layout__row_footer-links,
.tm-article-presenter__origin,
.article-formatted-body code,
.tm-comment__body-content pre,
.context-menu__item,
.context-menu{
	background:#323d43;
    background-color:#323d43;
}

.tm-articles-list__item,.tm-page__top,
.tm-block, .tm-article-presenter__body, 
.tm-article-comments__article-snippet, 
.tm-comments-wrapper__wrapper, 
.tm-project-block,
.tm-hubs-list:not(:empty),
.tm-users-list, .tm-users-list__sorting-panel,
.tm-companies, .tm-companies__placeholder,
.tm-companies__sorting-panel,
.tm-navigation-sorting,
.tm-section-name,
.tm-tabs,
.tm-pagination,
.tm-profile__body,
.tm-user-card,
.tm-user-comments__comment,
.tm-dropdown__body,
.tm-comment-form,
.tm-comment-navigation__block,
.tm-article-sticky-panel__icons,
.tm-editor__wrapper,
.tm-editor__bottom,
.tm-navigation-panel, .tm-suggest-button,
.tm-hub-card,
.tm-feed-settings-block,
.tm-feed-settings-block__title,
.tm-my-feed-page__settings-button,
.default-block,
.author-panel__user-info,
.tm-editor_comments,
.megapost-teasers,
.layout__row_navbar,
.promo-block,
#tracker-page .tracker-table__row.new,
.comment__message_v2 pre code,
.post__translatation,
.post__text-html pre code,
.loads,
.tm-salary-distribution

{
	background:#2b3339;
    background-color:#2b3339;
}

/*Menu*/
.tm-header,.tm-base-layout__header, 
#TMpanel .logo-wrapper .logo,
#TMpanel,
#TMpanel .dropdown{
background-color:#2b3339;

}
    .article-formatted-body a:visited{
        color: #366b43
    }
    pre{
        background-color: #d3c6aa !important;
        border: none !important
    }
    .tm-title__link{
        color: #d3c6aa
    }
    .tm-title{
        color: #d3c6aa
    }
    .tm-article-list-block__item:not(:first-child){
        border-color: #5c6a72
    }
    .tm-article-snippet__title-link:hover{
        color: #D3C6AA;
    }
    .tm-article-snippet__title-link:visited{
        color: #366b43;
    }
    .tm-section-name__text{
        color: #D3C6AA;
    }
    .tm-user-info__username{
        color: #83c092;
    }
    .tm-article-datetime-published{
        color: #D3C6AA;
    }
    .tm-block__header{
        border-bottom: none;
    }
    .tm-base-layout__header{
        border-bottom: none;
    }
    .tm-tabs{
        box-shadow: none;
    }
    .tm-tabs__tab-link, .tm-article-poll__answer-label, .tm-article-poll__header, .tm-project-block-items__detail{
        color: #D3C6AA;
    }
    .tm-navigation-filters-spoiler__button, .tm-project-block__title{
        color: #D3C6AA;
    }
    .tm-block__title, .tm-pagination__page{
        color: #D3C6AA;
    }
    .tm-block__footer{
        border-top: none;
    }
    .tm-companies-rating__name{
        color: #D3C6AA;
    }
    .tm-header{
        display: none
    }
    .tm-main-menu__item_has-new::after{
        background: none
    }
    .tm-article-snippet__label{
        border-color: #D3C6AA
    }
    .tm-article-reading-time__label{
        color: #D3C6AA;
    }
    .tm-article-snippet__hubs-item-link{
        color: #7A8478;
    }
    .tm-article-snippet__label span{
        color: #D3C6AA;
    }
    .tm-article-snippet__hubs-container::after{
        background: none;
    }
    .article-formatted-body{
        color: #D3C6AA;
    }
    .tm-articles-list__item{
        border-bottom: none
    }
    .tm-news-block-item__title-link{
        color: #d3c6aa
    }
    .tm-block_spacing-bottom{
        display: none
    }
    .tm-article-title__link, .tm-article-title__text{
	    color: #D3C6AA;
    }
    .tm-article-title__link:hover, .tm-article-title__text:hover {
        color: #D3C6AA
    }
    .tm-article-title__link:visited, .tm-article-title__text:visited {
        color: #7fbbb3
    }
    .tm-promo-post-link{
        display: none
    }
    .tm-footer-menu{
        display: none
    }
    .tm-footer{
        background-color:#2b3339
    }
    .tm-article-snippet__title{
        color: #D3C6AA
    }
    .tm-article-sticky-panel__icons{
        border-top: none;
        background-color: #272E33
    }
    .tm-comments-wrapper__title{
        color: #D3C6AA
    }
    .tm-comments-wrapper__header{
        background-color: #272E33
    }
    .tm-comment__header_is-by-op{
        background-color:#2b3339
    }
    .tm-company-profile-card{
        display: none
    }
    .tm-svg-img{
        fill: #D3C6AA
    }
    .tm-separated-list__title, .tm-comment__body-content{
        color: #D3C6AA
    }
    .tm-labeled-checkbox__label, .editor__content{
        color: #D3C6AA
    }
    #search{
        color: #d3c6aa
    }
    #stories_block_4{
        display: none
    }
    #clock{
        color: #D3C6AA;
    }
#TMpanel .projects-dropdown{
	border-left:1px solid #0085a1;
}

.tm-main-menu__item,.tm-our-projects__description,
#TMpanel .logo-wrapper .logo,
.nav-links__item-link,
#TMpanel .container .bmenu > a,
#TMpanel .projects-dropdown
{
color:#83c092;
}


.layout__elevator{
background:#323d43;
background-color:#323d43;
}

.layout__elevator:hover{
color:#0085a1;
background:#2b3339;
background-color:#2b3339;
}

.tm-our-projects__item:hover,#TMpanel .current, #TMpanel .service:hover {
  background:#323d43;
  opacity:1
 }

.tm-header__icon{
color:#D3C6AA;
}

.tm-header__become-author-btn{
color:#D3C6AA;
border:#D3C6AA 1px solid;
}


/*Header*/

.tm-company-card {
	background-color:#2b3339;
}

/*tabs*/
.tm-navigation-filters,.tm-navigation-filters__options{
background-color:#2b3339;
}


/*ico rss*/
.tm-rss-button_default{
background-color:#2b3339;
color:#2f383e;
}

/*Paganation*/
.tm-pagination__navigation-link:first-child::after, .tm-pagination__navigation-link:last-child::before{
background: none;
}


.tm-tabs::before,
.tm-tabs::after{
	background:none;
    background-image:none;
}

.tm-hubs-list__sorting-panel{
	background-color:#d3c6aa;
}

.tm-project-block_variant-vacancies
{
	border-left-color:#83c092;
}

.tm-user-snippet__nickname{
	color:#83c092;
}

.tm-notice{
	background-color:#323d43;
}

.tm-contribution-list__contribution{
	color:#83c092;
}

.tm-notice_positive::before {
	background:#83c092;
}


.tm-contribution-list__progress-bar{
	background-color:#dc322f;
}
.tm-contribution-list__progress{
	background-color:#D3C6AA;
}

.tm-editoral-subscription {
background-color:#D3C6AA;
}

.tm-input-text-decorated__input{
background-color:#323d43;
}
a:hover{
	color:#586e75;
}


.tm-company-basic-info__link:hover,.tm-widget-links__link:hover{
	color:  #268bd2; 
}


.tm-administration-block__link, .tm-company-basic-info__link,.tm-widget-links__link{
	color:  #dc322f; 
}

.article-formatted-body a{
	color:#83c092;
}

/*icon*/
.tm-icon-counter__icon, .tm-article-comments-counter-link__icon{
	color:#D3C6AA;
}


.tm-icon-counter__value{
	color:#D3C6AA;
}

.tm-article-comments-counter-link__unread-counter, .tm-article-comments-counter-link__value{
	color: #D3C6AA;
}

/*content*/

.tm-page-progress-bar{
	background:#333;
}


.article-formatted-body_version-2 details{
	background:#323d43;
}

/*AD*/
.roxotAdContent,.tm-adfox-banner__container{
display:none;
}


/*sidebar*/

.tm-sexy-sidebar{
padding:0!important;
}

/*Foter*/
.tm-footer-menu{
	background-color:#323d43;
}


.tm-footer-menu__block-title{
	color:#002b36;

}

.tm-footer-menu__list-item a{
	color:#073642;
}
}
